.box {
  border: 1px solid black;
  background-color: #ccc;
  width: 200px;
  height: 100px;
  position: absolute;
  padding: 10px;
}
.line {
  width: 100px;
  height: 1px;
  background-color: black;
  position: absolute;
}
.verticalLine {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 300px; 
  border: 1px inset;
}
.container {
  position: absolute;
  width: 600px;
  height: 100%;
  margin-left: -300px;
  left: 50%;
}
.activity {
  font-size: 20px;
}
.date, .username {
  font-size: 12px;
}
.button {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 70px; 
  float: right;
}
.button:hover {
  background: #d9d9d9;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer; 
}
.button:active {
  background: #d0d0d0;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000; 
}